[submodule "external/signature"]
	path = external/signature
	url = https://github.com/MrG1raffe/signature
[submodule "external/signax"]
	path = external/signax
	url = https://github.com/anh-tong/signax.git
